:root {
    --main-font-color:          hsl(0, 0%, 35%);
    --title-font-color:         hsl(214, 78%, 19%);
    --line-background:          hsl(0, 0%, 85%);
    --section-footer-bg-color:  hsl(0, 0%, 93%);
    --main-font-family:         'Quicksand', sans-serif;
    --title-font-family:        'Oswald', sans-serif;
}

/* HERO SECTION */

.main-wrapper {
    padding-top: 3.125rem;
}

.hero {
    display:        flex;
    flex-direction: column;
    padding:        3.125rem 1.875rem;
    border-bottom:  1px solid var(--line-background);
}

.title h1 {
    text-transform:             uppercase;
    font-size:                  50px;
    font-family:                'Oswald', sans-serif;
    background:                 -webkit-linear-gradient(315deg, hsl(204, 100%, 39%), hsl(150, 60%, 47%) 60%);
    letter-spacing:             0.3125rem;
    background-clip:            text;
    -webkit-background-clip:    text;
    -webkit-text-fill-color:    transparent;
}

.title,
.greetings {
    text-align: center;
    margin:     1.875rem 0;
}

.greetings h1 {
    font-family:    var(--title-font-family);
    color:          var(--title-font-color);
    font-size:      1.875rem;
}

.greetings p {
    line-height:    1.5;
    margin-top:     1.25rem;
}

/* -------------------------------- */


/* SOCIAL MEDIA SECTION */

.socialmedia-wrapper {
    border-bottom:      0.0625rem solid var(--line-background);
    padding:            1.25rem 0;
    background-color:   hsl(0, 0%, 96%);
}

.social-media {
    display:            flex;
    justify-content:    center;
}

.social-media-logo {
    font-size:                  1.5625rem;
    margin:                     0 1.25rem;
    background:                 -webkit-linear-gradient(315deg, hsl(204, 100%, 39%), hsl(150, 60%, 47%) 35%);
    background-clip:            text;
    -webkit-background-clip:    text;
    -webkit-text-fill-color:    transparent;
}

.section-title {
    padding:     2.5rem 0;
    text-align: center;
}

/* -------------------------------- */

/* NEWS SECTION */

.news p {
    line-height:    1.5;
    margin-top:     0.625rem;
    text-align:     justify;
}

/* -------------------------------- */


/* CONTACTS SESSION */

.row {
    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    align-items:        center;
    padding:            0.625rem 0 0.625rem 0;
    border-bottom:      0.0625rem solid var(--line-background);
}

.row p,
.row a { text-transform: uppercase; }

.row i {
    color:      var(--main-font-color);
    font-size:  1rem;
    
}

/* -------------------------------- */


/* EQUIPMENTS */

.equipments { background-color: hsl(0, 0%, 96%); }

.eq-row h3,
.eq-row p {
    text-transform: uppercase;
    font-size:      0.9375rem;
    margin:         0.625rem 0;
}

.eq-row {
    margin-bottom: 0.9375rem;
    border-bottom: 1px solid var(--line-background);
}

/* -------------------------------- */


/* QNA */

.question-answer { margin: 1.875rem 0; }

.question,
.answer {
    color:          hsl(0, 0%, 0%);
    box-shadow:     0 0 0.3125rem 0 hsla(0, 0%, 0%, 0.1), 0 0 0.3125rem 0 hsla(0, 0%, 0%, 0.1);
    padding:        0.625rem 1.5625rem;
    background:     linear-gradient(315deg, hsla(204, 100%, 39%, 0.7) 0%, hsla(150, 60%, 47%, 0.7) 100%);
    margin:         0.3125rem 0;
    line-height:    1.5;
}

.question {
    border-radius: 0.625rem 0.625rem 0.625rem 0.0625rem;
}

.answer {
    border-radius: 0.625rem 0.625rem 0.0625rem 0.625rem;
    text-align: justify;
}

/* -------------------------------- */


/* DOWNLOADS */

.download-title { text-align: center; }

.inner-wrapper iframe { margin: 0.9375rem 0; }

.download-video {
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
}

.video { text-align: center; }

.download-btn {
    margin:             0.625rem 0;
    border:             1px solid var(--line-background);
    background-color:   hsl(0, 0%, 97%);
    width:              5rem;
    text-align:         center;
    margin:             0 auto;
    padding:            0.3125rem 0;
    border-radius:      0.3125rem;
}

.download-btn:hover {
    background-color:   hsl(0, 0%, 89%);
    cursor:             pointer;
}

.download-description { margin-top: 1.25rem; }

/* -------------------------------- */


/* PROGRAMMING */

.programming-wrapper { text-align: justify; }

.js-projects {
    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    margin:             1.25rem 0;
    text-align:         center;
}

/* -------------------------------- */


@media (min-width: 768px) {

    .title h1 { font-size: 5rem; }

}

@media (min-width: 1024px) {

    .title h1 { font-size: 5.625rem; }

    section,
    .greetings p {
        padding-left:   9.375rem;
        padding-right:  9.375rem;
    }
    
}

@media (min-width: 1440px) {

    .greetings h1 { font-size: 2.5rem; }

    .greetings p { 
        font-size:  1.25rem;
        padding:    0;
    }

    .greetings { 
        width:  60%;
        margin: 0 auto;
    }

    section { 
        padding-left:   0rem;
        padding-right:  0rem;
    }

    .inner-wrapper {
        width:  55%;
        margin: 0 auto;
    }

    .contacts { padding: 0 180px; }

    .equipments-wrapper {
        display:            flex;
        flex-direction:     row;
        justify-content:    space-between;
        padding:            0 5rem;
    }

    .eq-row { border: 0; }

    .js-projects { 
        width:  50%;
        margin: 3.125rem auto;
    }
}