* {
    box-sizing: border-box;
}

/* STYLE VAR */

:root {
    --main-font-color:          hsl(0, 0%, 35%);
    --title-font-color:         hsl(214, 78%, 19%);
    --line-background:          hsl(0, 0%, 82%);
    --section-footer-bg-color:  hsl(0, 0%, 93%);
    --main-font-family:         'Quicksand', sans-serif;
    --title-font-family:        'Oswald', sans-serif;
}

/* -------------------------------- */

/* BASIC STYLE */

body {
    color:          var(--main-font-color);
    font-family:    var(--main-font-family);
    font-size:      1rem;
}

a {
    text-decoration:    none;
    color:              var(--main-font-color);
}

/* -------------------------------- */


/* HEADER + NAVIGATION */

.nav-bar {
    border-bottom:      1px solid var(--line-background);
    width:              100%;
    height:             3.125rem;
    position:           fixed;
    top:                0;
    left:               0;
    right:              0;
    z-index:            10;
    background-color:   hsl(0, 0%, 100%);
}

.container {
    height:             100%;
    display:            flex;
    flex-direction:     row;
    justify-content:    space-between;
    align-items:        center;
    margin:             0 auto;
    padding:            0 1.25rem;
}

.logo h1 {
    text-transform:             uppercase;
    font-family:                var(--title-font-family);
    color:                      var(--title-font-color);
    letter-spacing:             0.1875rem;
    background:                 -webkit-linear-gradient(315deg, hsl(204, 100%, 39%), hsl(150, 60%, 47%) 45%);
    letter-spacing:             0.3125rem;
    background-clip:            text;
    -webkit-background-clip:    text;
    -webkit-text-fill-color:    transparent;
}

.navigation {
    position:           fixed;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    top:                50px;
    width:              100%;
    background-color:   hsl(0, 0%, 100%);
    z-index:            20;
    border-bottom:      1px solid var(--line-background);
    overflow-x:         hidden;
    height:             0rem;
    transition:         .5s;
}

.navigation a {
    width:          70%;
    padding:        0.625rem 1.25rem;
    font-size:      0.875rem;
    border-bottom:  1px solid var(--line-background);
    font-weight:    bold;
}

.mobile-menu { 
    position:   absolute;
    top:        18px;
    right:      30px;
}

.open-icon {
    color:      var(--main-font-color);
    cursor:     pointer;
    position:   absolute;
}

.close-icon {
    position:   absolute;
    cursor:     pointer;
    visibility: hidden;
}

.desktop-nav {
    margin-right:   10px;
    visibility:     hidden;
}

.desktop-nav a { margin: 0 10px; }

.desktop-nav a:hover {
    color:          black;
    font-weight:    bold;
}

/* -------------------------------- */

section {
    border-bottom:  1px solid var(--line-background);
    padding:        0 1.875rem 2.5rem 1.875rem;
    line-height:    1.5;
}

h2 {
    color:          var(--title-font-color);
    font-family:    var(--title-font-family);
    font-size:      1.875rem;
}

h3 {
    font-family:    var(--title-font-family);
    color:          var(--title-font-color);
    font-size:      0.9375rem;
}

/* FOOTER */

.footer {
    background-color: hsl(0, 0%, 97%);
}

.footer-media {
    font-size:  1.125rem;
    color:      hsl(150, 60%, 47%);
    margin:     0.625rem 0.625rem;
}

.footer-wrapper {
    text-align: center;
    padding:    1.25rem;
}

.footer-wrapper p{ font-size: 0.625rem; }

/* -------------------------------- */


@media (min-width: 1024px) {

    .desktop-nav { visibility: visible; }

    .mobile-menu { visibility: hidden; }

}

@media (min-width: 1440px) {

    .nav-bar { 
        width:  60%;
        margin: 0 auto;
    }
}