:root {
    --main-font:            'Ubuntu', sans-serif;
    --main-font-color:      hsl(0, 0%, 25%);
    --main-bg-color:        hsl(150, 73%, 35%);
}

* { box-sizing: border-box; }

.wrapper {
    width:              100vw;
    height:             100vh;
    background-color:   var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrapper {
    border: 1px solid black;
    width: 350px;
    height: 350px;
}